:root {
  /* light --- */
    --light-scrollbar: unset;

    --light-color: #1D1C20;
    --light-color-alt: #F7F7FA;

    --light-bgcolor: #CCCCD5;
    --light-bgcolor-alt: #C6C6CE;

    --light-accent: #DD2F66;

    --light-logo-bg:
      linear-gradient(
        90deg,
        #D64070 20%,
        #D62D43 68%,
        #ECECEC 68%
      );

    --light-header-color: #B6DFE0B0;
    --light-header-blend:
      linear-gradient(210deg, #99B1D456, transparent 70%),
      linear-gradient(130deg, #A1DAC238, transparent 70%),
      linear-gradient(330deg, #B3E2E241, transparent 70%),
      linear-gradient(#2D418144, #2D418125 20%, transparent);
    
    --light-nav-color: var(--light-color-alt);
    
    --light-main-backing: linear-gradient(
      #DADAE0E0,
      #DADAE0D0 128px,
      #DADAE0D0
    );

    --light-footer-color: var(--light-color-alt);
    --light-footer-bgcolor: #24262A;
    --light-footer-bgcolor-alt: #282A30;

    --light-blog-thumbbar-bg: 
      conic-gradient(
        #8A8A9731 45deg,
        #ADB3BD3A 45deg 135deg,
        #8A8A9731 135deg 225deg,
        #ADB3BD3A 225deg 315deg,
        #8A8A9731 135deg
      );

    --light-blog-code-bg: 
      repeating-linear-gradient(
        45deg,
        #DEDFE60E 0px,
        #DEDFE60E 6px,
        #E0E2E425 6px,
        #E0E2E425 12px
      );


    --light-nojs-sunmoon:
      radial-gradient(
        calc(var(--toggle-size) * 0.25) calc(var(--toggle-size) * 0.25)
        at 50% 50%,
        transparent 65%, #b2bdc2 80%
      ),
      radial-gradient(
        calc(var(--toggle-size) * 0.25) calc(var(--toggle-size) * 0.25)
        at 45% 50%,
        #FFD900 30%, #F19926
      );
  /* --- */

  /* dark ---  */
    --dark-scrollbar: #7E7E92 #121222;

    --dark-color: #EDEEF3;
    --dark-color-alt: #3A363E;

    --dark-bgcolor: #17171C;
    --dark-bgcolor-alt: #141418;

    --dark-accent : #2D65FF;

    --dark-logo-bg:
      linear-gradient(
        90deg,
        #2D9AF3 20%,
        #2D4EDD 68%,
        #A6A6A6 68%
      );
    
    --dark-header-color: #5C90FF5D;
    --dark-header-blend:
      linear-gradient(210deg, #FF333348, transparent 70%),
      linear-gradient(130deg, #4BFF4B33, transparent 70%),
      linear-gradient(330deg, #2974FF48, transparent 70%),
      linear-gradient(#0B0018FF,#0B0018CC 20%, transparent);
    
    --dark-nav-color: var(--dark-color);

    --dark-main-backing: linear-gradient(
      #030310DD,
      #03031088 128px,
      #03031088
    );

    --dark-footer-color: var(--dark-color);
    --dark-footer-bgcolor: #020204;
    --dark-footer-bgcolor-alt: #0A0A10;

    --dark-blog-thumbbar-bg: 
      conic-gradient(
        #3B3B4742 45deg,
        #53575E3A 45deg 135deg,
        #3B3B4742 135deg 225deg,
        #53575E3A 225deg 315deg,
        #3B3B4742 135deg
      );

    --dark-blog-code-bg: 
      repeating-linear-gradient(
        45deg,
        #3B3B471F 0px,
        #3B3B471F 6px,
        #53575E1C 6px,
        #53575E1C 12px
      );

    
    --dark-nojs-sunmoon:
      radial-gradient(
        calc(var(--toggle-size) * 0.25) calc(var(--toggle-size) * 0.25)
        at 48% 45%,
        transparent 75%, #363142 85%
      ),
      radial-gradient(
        calc(var(--toggle-size) * 0.25) calc(var(--toggle-size) * 0.25)
        at 39% 33%,
        #363142 75%, transparent 85%
      ),
      linear-gradient(
        90deg, #A3D0F5 35%, #2054A1 85%
      );
  /* --- */

  /* theme --- */
    --theme-scrollbar: var(--light-scrollbar);

    --theme-color: var(--light-color);
    --theme-color-alt: var(--light-color-alt);

    --theme-bgcolor: var(--light-bgcolor);
    --theme-bgcolor-alt: var(--light-bgcolor-alt);

    --theme-accent: var(--light-accent);

    --theme-logo-bg: var(--light-logo-bg);

    --theme-header-color: var(--light-header-color);
    --theme-header-blend: var(--light-header-blend);
    --theme-nav-color: var(--light-nav-color);

    --theme-main-backing: var(--light-main-backing);

    --theme-footer-color: var(--light-footer-color);
    --theme-footer-bgcolor: var(--light-footer-bgcolor);
    --theme-footer-bgcolor-alt: var(--light-footer-bgcolor-alt);

    --theme-blog-thumbbar-bg: var(--light-blog-thumbbar-bg);
    --theme-blog-code-bg: var(--light-blog-code-bg);


    --theme-nojs-sunmoon: var(--light-nojs-sunmoon);
  /* --- */

  /* header --- */
  --base-grid: auto 1fr auto / 100%;
  --header-max: none;
  --toggle-size: 64px;

  --nav-font-size: 1.4rem;
  /* --- */

  /* footer --- */
    --footer-disp-l: block;
    --footer-disp-s: none;
  /* --- */

  /* --- */
    --size-l: 1.3rem;
    --size-m: 1.1rem;
    --size-s: 0.9rem;
  /* --- */

  --backing-width: 480px;
  --square-list-grid: auto / 0.5fr 0.5fr;
}

@media (prefers-color-scheme: dark) {
:root {
  --theme-scrollbar: var(--dark-scrollbar);

  --theme-color: var(--dark-color);
  --theme-color-alt: var(--dark-color-alt);

  --theme-bgcolor: var(--dark-bgcolor);
  --theme-bgcolor-alt: var(--dark-bgcolor-alt);

  --theme-accent: var(--dark-accent);

  --theme-logo-bg: var(--dark-logo-bg);

  --theme-header-color: var(--dark-header-color);
  --theme-header-blend: var(--dark-header-blend);
  --theme-nav-color: var(--dark-nav-color);

  --theme-main-backing: var(--dark-main-backing);

  --theme-footer-color: var(--dark-footer-color);
  --theme-footer-bgcolor: var(--dark-footer-bgcolor);
  --theme-footer-bgcolor-alt: var(--dark-footer-bgcolor-alt);

  --theme-blog-thumbbar-bg: var(--dark-blog-thumbbar-bg);
  --theme-blog-code-bg: var(--dark-blog-code-bg);


  --theme-nojs-sunmoon: var(--dark-nojs-sunmoon);
}
}


/* screen size and other media rules... */
@media only screen and (max-width: 450px) {
:root {
  --header-max: auto;
  --toggle-size: 48px;
  --nav-font-size: 1.25rem;

  --footer-disp-l: none;
  --footer-disp-s: block;

  --size-l: 1.0rem;
  --size-m: 0.95rem;
  --size-s: 0.75rem;

  --backing-width: 300px;
  --square-list-grid: auto / 1fr;
}
}

@media only screen and (min-width: 451px) and (max-width: 700px) {
:root {
  --header-max: auto;
  --toggle-size: 56px;
  --nav-font-size: 1.4rem;
  
  --footer-disp-l: block;
  --footer-disp-s: none;

  --size-l: 1.25rem;
  --size-m: 1.05rem;
  --size-s: 0.8rem;

  --backing-width: 390px;
  --square-list-grid: auto / 1fr;
}
}

@media only screen and (min-width: 701px) {
:root {
  --header-max: auto;
  --toggle-size: 64px;
  --nav-font-size: 1.4rem;
  
  --footer-disp-l: block;
  --footer-disp-s: none;

  --size-l: 1.4rem;
  --size-m: 1.1rem;
  --size-s: 0.9rem;

  --backing-width: 480px;
  --square-list-grid: auto / 0.5fr 0.5fr;
}
}
/* ... */


/* base... */
html {
	min-height: 360px;
	height: 100%;

  font-size: 16px;

  scrollbar-color: var(--theme-scrollbar);
}

body {
  height: 1vh;
	margin: 0px;
	
  font-size: 1rem;
	font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: var(--theme-color);
}

a {
	text-decoration: underline;
  font-weight: bold;
  color: var(--theme-color);
}

a:hover,
a:focus {
  font-style: italic;
}

#wrapper {
  --grid: var(--base-grid);

  display: grid;
  grid-template: var(--grid);

  width: 100%;
  min-height: 100vh;

  position: absolute;
  margin: 0px auto;
  box-sizing: border-box;
  z-index: -10;

  overflow: hidden;
}
/* ... */

/* ... */
.header {
  /* specify a --max to override default behaviour */
  --max: var(--header-max);
  
  width: 100%;
  height: auto;
  max-height: var(--max);

  background: url("/img/header-c-2016x1134.jpg"), var(--theme-header-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-blend-mode: soft-light;

  position: relative;
  z-index: -4;
}

.header::after {
  content: "";

  width: 100%;
  height: 100%;

  background-image: var(--theme-header-blend);
  
  background-blend-mode: color;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
}

.header::before {
  content: "";

  width: 100%;
  height: 100%;

  background-image: 
    radial-gradient(
      circle at center center,
      #07041300,
      #070413AA
    );

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
}


.content {
  width: 100%;
  height: auto;
  min-height: 32px;

  padding: 0px 0px 16px;

  background-image:
  radial-gradient(
    100% 64px at 50% 0%,
    var(--theme-bgcolor-alt),
    var(--theme-bgcolor-alt) 50%,
    transparent 800%
  ),

  repeating-linear-gradient(
    -45deg,
    var(--theme-bgcolor) 0px 8px,
    var(--theme-bgcolor-alt) 8px 16px
  ),

  linear-gradient(
    var(--theme-bgcolor),
    var(--theme-bgcolor-alt) 64px
  );

  position: relative;
}

.content::after {
  content: "";

  width: 100%;
  height: 16px;
  
  background-image:
    radial-gradient(
      75% 100% at 50% 100%,
      var(--theme-bgcolor-alt) 80%,
      var(--theme-accent) 98%
    );
  
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-clip: border-box;

  position: absolute;
  top: -16px;
}


.main {
  --backing: var(--theme-main-backing);

  padding: 16px 36px 24px;
  margin: 0px auto 0px;

  max-width: 960px;
  height: calc(100% - 52px);

  background-image: var(--backing);
  border-radius: 32px;

  position: relative;
  display: block;
  top: 12px;
}

/* .main article + article {
	margin-top: 40px;
} */

/* .main article {
	padding: 16px 4px 8px 4px;
	margin: 0px 0px 10px;
} */

/* .main p + p {
	margin-top: 20px;
} */

/* .main p + div {
	margin-top: 20px;
} */

/* .main div + p {
	margin-top: 20px;
} */


.footer {
  width: 100%;
  height: auto;
  padding: 16px 0px 64px;

  font-size: 0.9rem;
  text-align: center;

  color: var(--theme-footer-color);

  background-image:
    linear-gradient(
      var(--theme-footer-bgcolor),
      var(--theme-footer-bgcolor-alt) 64px
    );
  
  border-top: 4px solid var(--theme-accent);
  box-sizing: border-box;

  position: relative;
  z-index: -2;
}

.footer a {
  color: var(--theme-footer-color);
}

#footer-large {
  display: var(--footer-disp-l);
}

#footer-small {
  display: var(--footer-disp-s);
}
/* ... */

/* ... */
.logo {
  --bg: url("/img/logo-600x96.svg");

  width: auto;
  height: auto;

  margin: 32px 0px 0px;
  padding: 0px;

  display: inline-block;

  position: relative;
  z-index: 1;

  filter: drop-shadow(4px 2px 4px #09060C8F);
}

.logo .logo-top {
  width: 100%;
  height: 100%;

  background: var(--theme-logo-bg);
  
  mask-image: var(--bg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.logo img {
  display: block;
  visibility: hidden;
  width: auto;
  height: auto;
}
/* ... */

/* navigation... */
#nav-small {
  width: 100%;
  max-width: 600px;

  margin: 0px auto 32px;
  padding: 0px;

  position: relative;
  z-index: 4;

  display: flex;
  gap: 2px 16px;
  justify-content: center;
  flex-wrap: wrap;
}

#nav-small > a, #nav-small > div {
  padding: 0px 2px;

  font-size: var(--nav-font-size);
  font-weight: bold;
	font-family: 'Poppins', sans-serif;

  color: var(--theme-nav-color);

  text-decoration: none;
  text-shadow: #0A0A0CA8 0px 3px 2px;

  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: transparent;
}

#nav-small > a:hover,
#nav-small > a:focus {
  font-style: normal;
  text-decoration: none;
  
  border-color: var(--theme-nav-color);
}

#nav-small .nav-current {
  border-color: var(--theme-nav-color);
}

#nav-small .nav-inactive {
  color: color-mix(in oklab, var(--theme-nav-color) 100%, #02001A 50%);
}
/* ... */

/* . --- --- --- --- --- --- --- --- . */
/* | BEGIN SQUARELIST STYLING    ... | */
/* '---------------------------------' */
/* SQUARELIST WRAPPER */
.square-list {
  width: 100%;

  margin: 32px 0px 32px;
  padding: 16px 8px 32px;

  box-sizing: border-box;

  position: relative;

  /* items are either side by side (2 columns) on wide displays
  or above one another (single column) */
  display: grid;
  grid-template: var(--square-list-grid);
  gap: 12px 8px;
}

.square-list::after {
  /* use a pseudo child to display the border so mask doesn't
  clip out the actual content, only the border */
  
  content: "";

  width: 100%;
  height: 100%;
  
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  
  /* use a mask to delete most of the top and bottom border */
  mask-image:
    linear-gradient(
      90deg,
      white 42px,
      transparent 42px,
      transparent calc(100% - 42px),
      white calc(100% - 42px)
    );
  
  position: absolute;
  top: 0px;
  left: 0px;

  pointer-events: none;
}


/* SQUARELIST - TYPE */
.square-list .list-type {
  /* text at top-left of square list box denoting the 'type' of
  content included within*/

  width: calc(100% - 80px);

  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  line-height: 1.2rem;
  letter-spacing: 1px;

  color: grey;
  text-shadow: 0px 2px 1px #3A3A3F59;

  position: absolute;
  top: 0px;
  left: 42px;

  /* use a grid to align elements that form the type, which is:
  border, text, border */
  display: grid;
  grid-template: auto / 42px auto 1fr;
  align-items: bottom;

  z-index: 3;
}

.square-list .list-type span {
  /* the list-type is formed of 3 elements: 2 borders and the text */

  width: 100%;

  border-style: solid;
  border-width: 2px 0px 0px;
}

.square-list .list-type span:nth-child(1) {
  /* first child is the left-most border */
  border-image:
    linear-gradient(
      90deg,
      grey calc(100% - 32px),
      transparent calc(100% - 4px)
    );
  
  border-image-slice: 1;
}

.square-list .list-type div:nth-child(2) {
  /* the actual text */

  width: 100%;

  position: relative;
  top: -0.65rem;
  left: 0px;
}

.square-list .list-type span:nth-child(3) {
  /* same as first child but for the right side (which is longer) */
  border-image:
    linear-gradient(
      90deg,
      transparent 4px,
      grey 32px
    );
  
  border-image-slice: 1;
}


/* SQUARELIST - ICON */
.square-list .list-icon {
  /* icon at bottom-right of square list box denoting the 'type' of
  content included within (in image form) - behaviour is almost
  identical to list-type */

  --icon-img: url("");

  width: calc(100% - 80px);

  font-size: 1rem;
  text-align: center;
  line-height: 1rem;

  position: absolute;
  bottom: -4px;
  right: 38px;

  display: grid;
  grid-template: auto / 1fr auto 42px;
  align-items: bottom;

  z-index: 3;
}

.square-list .list-icon span {
  width: 100%;

  border-style: solid;
  border-width: 0px 0px 2px;
}

.square-list .list-icon span:nth-child(1) {
  /* same as list-type but reversed (so first child is the longer) */

  border-image:
    linear-gradient(
      90deg,
      grey calc(100% - 32px),
      transparent calc(100% - 4px)
    );
  
  border-image-slice: 1;
}

.square-list .list-icon div:nth-child(2) {
  --size: 64px;

  width: var(--size);
  height: var(--size);

  background: grey;

  mask-image: var(--icon-img);
  mask-size: 100% 100%;

  position: relative;
  bottom: calc(var(--size) * -0.5);
  left: 0px;
}

.square-list .list-icon span:nth-child(3) {
  border-image:
    linear-gradient(
      90deg,
      transparent 4px,
      grey 32px
    );
  
  border-image-slice: 1;
}


/* SQUARELIST - ITEM */
.square-list .list-item {
  width: 100%;
  min-height: 128px;

  box-sizing: border-box;
  border-style: solid;
  border-color: #8A8A8AAA;
  border-width: 2px;
  border-radius: 6px;

  position: relative;
  z-index: 5;

  display: grid;
  grid-template: 0.5fr 0.5fr / auto;
}


/* ITEM - TOP */
.square-list .item-top {
  width: 100%;
  height: 100%;

  padding: 12px 6px 0px 6px;

  background-image:
    linear-gradient(
      color-mix(in oklab, var(--theme-color-alt) 30%, transparent),
      transparent
    );

  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;

  text-decoration: none;
  font-weight: normal;
  color: var(--theme-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px 0px;
}

.square-list .item-top:hover,
.square-list .item-top:focus {
  background-image:
    linear-gradient(
      color-mix(in oklab, var(--theme-color-alt) 75%, transparent),
      transparent
    );
  
  font-style: normal;
}

.square-list .item-top:hover .top-title,
.square-list .item-top:focus .top-title {
  font-style: italic;
}

.square-list hr {
  width: 100%;
  height: 2px;

  margin: 4px 0px 8px 0px;
  padding: 0px;

  background-image:
    linear-gradient(
      90deg,
      transparent,
      grey,
      transparent
    );

  border: none;
}

.square-list .top-date {
  margin: 0px;
	padding: 0px;

  font-size: 0.95rem;
  line-height: 0.95rem;
  letter-spacing: 2px;
  color: color-mix(in oklab, var(--theme-color) 75%, transparent);

  align-self: normal;

  position: relative;
  z-index: 10;
}

.square-list .top-title {
  margin: 0px;
	padding: 0px;

  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.1rem;
  text-align: center;
  text-decoration: underline;

  position: relative;
  z-index: 10;
}

.square-list .top-date + .top-title{
  margin: 8px 0px 0px 0px;
}


/* ITEM - BOTTOM */
.square-list .item-bottom {
  padding: 0px 6px 12px 6px;

  display: flex;
  align-items: end;
}

.square-list .bottom-summary {
  width: 100%;

  margin: 0px;
	padding: 0px;

  font-size: 1.0rem;
  line-height: 1.2rem;
  text-indent: 16px;
  hyphens: auto;

  position: relative;
  z-index: 10;
}
/* . --- --- --- --- --- --- --- . */
/* | ...  END SQUARELIST STYLING | */
/* '-----------------------------' */


/* blog... */
/* rules dealing with blog-like posts: i.e., paragraphs, headings, dates
thumbnails, code excerpts, etc */
.blog p {
  margin: 0px auto;
	padding: 0px;

  font-size: 1rem;
  text-align: left;
	text-indent: 24px;

  hyphens: auto;
}

.blog h2 {
  margin: 0px auto;

  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
	color: rgb(var(--main-color));
}

.blog h3 {
  margin: 0px auto;

  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
	color: rgb(var(--main-color));
}

.blog hr {
  --color: color-mix(in oklab, #999999 40%, var(--theme-accent));

  width: 80%;
  height: 2px;

  margin: 0px auto;

  background-image:
    linear-gradient(
      90deg,
      #FFFFFF00 10%,
      var(--color) 30%,
      var(--color),
      var(--color) 70%,
      #FFFFFF00 90%
    );
  
  border: 0px;
}

.blog ul,
.blog ul p {
  margin: 0px auto;
  padding: 0px 0px 0px 36px;
  
  text-indent: 0px;
}

.blog ul ul {
  margin: 0px auto;
  padding: 0px 0px 0px 12px;

  list-style: none;
}

/* a thumbbar contains one or more thumbnails and an optional label -
the thumbnails can be sized down if needed and link to the full
resource */
.blog .thumbbar {
  --thumb-width: auto;
  --thumb-height: auto;

	width: 90%;
  height: auto;

	margin: 0px auto;
	padding: 8px;

  background-image: var(--theme-blog-thumbbar-bg);
  background-size: 48px 48px;

  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: color-mix(in oklab, var(--theme-accent) 60%, #999999);
  border-radius: 8px;

  display: grid;
  grid-template: auto auto / auto;
}

.blog .thumbbar hr {
  margin: 8px auto 8px;
}

.blog .thumbbar .thumbs {
  width: 100%;

	display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.blog .thumbbar .thumbs .thumb {
  --lazybg: url('');
  --lazycol: #AAAAAA;

  /* the thumbnail should be the specified size, but scale down
  to fit horizontally*/
  width: 100%;
  max-width: var(--thumb-width);
  height: var(--thumb-height);

  position: relative;
}

.blog .thumbbar .thumbs .thumb::before {
  content: "";

  width: 100%;
  height: 100%;

  /* the thumbnail is displayed via the background property, so fix it
  in place */
  background-image: var(--lazybg);
  background-color: var(--lazycol);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  border-radius: 8px;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  opacity: 80%;
}

.blog .thumbbar .thumbs .thumb::after {
  --color: color-mix(in oklab, var(--theme-accent) 10%, transparent);

  content: "";

  width: 100%;
  height: 100%;

  background-image:
    repeating-linear-gradient(
      135deg,
      var(--color),
      var(--color) 4px,
      transparent 4px,
      transparent 12px
    );
  
  border-radius: 16px;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.blog .thumbbar .thumbs .thumb:hover::before,
.blog .thumbbar .thumbs .thumb:focus::before {
  opacity: 100%;
}

.thumbbar .thumblabel {
  width: 80%;

  margin: 0px auto;

	font-size: 0.875rem;
  font-weight: normal;
  text-align: left;

  display: grid;
  grid-template: auto/ 0.5fr auto 0.5fr;
}

/* an embox is simply a dashed box used to draw attention to its
contents */
.blog .embox {
  width: 90%;
  height: auto;

	margin: 0px auto;
	padding: 8px;

  box-sizing: border-box;
  border-width: 2px;
  border-style: dashed;
  border-color: color-mix(in oklab, var(--theme-accent) 60%, #999999);
  border-radius: 0px;
}

.blog .embox hr {
  margin: 8px auto 8px;
}

/* a codebox is for snippets of code, contained in pre and code tags
ensuring no formatting - optional label */
.blog .codebox {
	width: 90%;
  height: auto;

	margin: 0px auto;
	padding: 8px;

  background-image: var(--theme-blog-code-bg);

  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: color-mix(in oklab, var(--theme-accent) 60%, #999999);
  border-radius: 8px;

  display: grid;
  grid-template: auto auto / auto;
}

.blog .codebox hr {
  margin: 8px auto 8px;
}

.codebox .codes {
  width: 100%;

  margin: 0px auto;

  overflow: auto;
}

.codebox pre {
  width: fit-content;

  margin: 0px auto;
  padding: 0px;
}

.codebox code {
  margin: 0px;
  padding: 0px;
}

.codebox .codelabel {
  width: 80%;

  margin: 0px auto;

	font-size: 0.875rem;
  font-weight: normal;
  text-align: left;

  display: grid;
  grid-template: auto/ 0.5fr auto 0.5fr;
}

/* anything encased in an important block is centered and spaced apart
(vertically) from other content - useful for links and images */
.blog .important {
  width: 100%;

  margin: 0px auto;

  font-size: 1.275rem;
  text-align: center;
  text-indent: 0px;
}

.blog .important p {
  margin: 0px auto;

  font-size: 1.275rem;
  text-align: center;
  text-indent: 0px;
}

.blog .important a {
  margin: 0px auto;
  
  font-size: 1.275rem;
  text-align: center;
  text-indent: 0px;
}

/* display an image, specifying a url and optional width and height */
.blog .image {
  --bg: url("");
  --width: auto;
  --height: auto;

  /* attempt to size as requested but don't overflow (shrink to fit) */
  width: 100%;
  max-width: var(--width);
  height: var(--height);

  margin: 0px auto;

  /* display image as a background (stretch to fit) */
  background-image: var(--bg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* margins between elements in a .blog block */
.blog * + h2 {
  margin: 24px auto 0px;
}

.blog p + p,
.blog p + ul,
.blog ul + p {
  margin: 12px auto 0px;
}

.blog li + li {
  margin: 2px auto 0px;
}

.blog * + .thumbbar,
.blog * + .codebox,
.blog * + .embox,
.blog .thumbbar + *,
.blog .codebox + *,
.blog .embox + * {
  margin: 24px auto 0px;
}

.blog * + .important,
.blog .important + * {
  margin: 24px auto 0px;
}
/* ...blog */


/* fancy glowy button... */
/* base - acts as shadow */
.button-glow {
  /* default vars (can be overridden
     in style attribute)... */
  --bgcolor: var(--theme-color-alt);
  --color: var(--theme-color);
  --glowcolors: red, lime, cyan, red;

  --width: auto;
  --height: auto;
  /* ... */

  min-width: var(--width);
  max-width: var(--width);
  min-height: var(--height);
  max-height: var(--height);

  background: #00000033;

  font-size: 1rem;
	font-family: 'Poppins', sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: var(--theme-color);
  
  border: 0px;
  border-radius: 6px;

  cursor: pointer;

  position: relative;

  display: inline-block;
}

/* contents */
.button-glow > div {
  width: 100%;
  height: 100%;

  font-size: 0.875rem;
	font-family: 'Poppins', sans-serif;
  color: var(--color);

  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: space-between;

  transition: top 0.1s linear;

  z-index: 3;
}

.button-glow:hover,
.button-glow:focus {
  font-style: normal;
}

.button-glow:hover > div {
  top: -4px;
  transition: top 0.1s linear;
}

.button-glow:active > div,
.button-glow:focus > div {
  top: 0px;
  transition: top 0.1s linear;
}

/* glow */
@keyframes button-glow-anim {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 400%;
  }
}

.button-glow::before {
  content: "";
  
  width: calc(100% + 4px);
  height: calc(100% + 4px);

  background: linear-gradient(
    135deg,
    var(--glowcolors)
  );

  border: 0px;
  border-radius: 4px;

  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400% 100%;

  filter: blur(3px);
  animation: button-glow-anim 4s linear infinite;

  opacity: 100;
  transition: 0.5s ease-in;

  z-index: 1;
}

.button-glow:hover::before,
.button-glow:focus::before {
  opacity: 0;
  transition: 0.25s ease-out;
}

/* top */
.button-glow::after {
  content: "";

  width: 100%;
  height: 100%;

  background: var(--bgcolor);
  border-radius: 4px;

  position: absolute;
  left: 0;
  top: 0;
  transition: top 0.1s linear;

  z-index: 2;
}

.button-glow:hover::after {
  background: color-mix(in oklab, var(--bgcolor) 100%, #E2FFFF 10%);

  top: -4px;
  transition: top 0.1s linear;
}

.button-glow:active::after,
.button-glow:focus::after {
  background: color-mix(in oklab, var(--bgcolor) 100%, #02001A 30%);

  top: 0px;
  transition: top 0.1s linear;
}
/* ... */

/* ... */
.checkbox-sunmoon {
  /* size of checkbox */
  --size: var(--toggle-size);

  /* calculate dimensions from supplied size--- */
  --width: var(--size);
  --height: calc(var(--size) * 0.5);

  --icon-size: calc(var(--size) * 0.25);
  --right: calc(var(--width) - var(--height) + 2px);
  /* --- */

  position: absolute;
  top: 8px;
  left: calc(50% - (var(--width) * 0.5));

  z-index: 2;
}

.checkbox-sunmoon input {
  visibility: hidden;
  display: none;
}

.checkbox-sunmoon label {
  width: var(--width);
  height: var(--height);
  
  position: absolute;
}

/* background */
.checkbox-sunmoon span {
  width: var(--width);
  height: var(--height);

  background-image:
    linear-gradient(#BEC8CC, #A0AEB4);
  
  border-radius: 30px;
  
  box-shadow:
    4.5px 4.5px 3px #14151644,
    -1px -0.5px 1px #FFFFFFAF;
  
  position: absolute;
  top: 0px;
  left: 0px;

  cursor: pointer;
}

/* sun and moon */
.checkbox-sunmoon span::before {
  content: "";
  width: var(--width);
  height: var(--height);

  background-image:
    linear-gradient(
      90deg, transparent 50%, #A3D0F5 60%, #2054A1
    ),
    radial-gradient(
      var(--icon-size) var(--icon-size) at 20% 50%,
      #FFD900 30%, #F19926
    );
  
  mask-image:
    radial-gradient(
      var(--icon-size) var(--icon-size) at 25% 50%,
      #FFFFFF 64%, transparent 71%
    ),
    radial-gradient(
      var(--icon-size) var(--icon-size) at 75% 50%,
      #FFFFFF 64%, transparent 71%
    ),
    
    radial-gradient(
      var(--icon-size) var(--icon-size) at 65% 40%,
      #FFFFFF 64%, transparent 71%
    );
  
  mask-composite: add, subtract;
  mask-repeat: no-repeat;

  position: absolute;
  top: 0px;
  left: 0px;
}

/* switch - light */
.checkbox-sunmoon span::after {
  content: "";
  width: calc(var(--height) - 4px);
  height: calc(var(--height) - 4px);

  background-image:
    radial-gradient(
      circle at 45% 45%,
      #9bA2A8 55%,
      #7E828F 60%
    );

  border-radius: 30px;

  position: absolute;
  left: var(--right);
  top: 2px;

  /* animation: checkbox-sunmoon-anim-r 0.5s linear forwards; */
  transition: left 0.4s ease;
}

/* background - dark */
.checkbox-sunmoon input:checked + span {
  background-image:
    linear-gradient(#453E52, #2B2430);
  
  box-shadow:
    4.5px 4.5px 3px #06070AEE,
    -1px -0.5px 1px #9FA5B9B7;
}

/* switch - dark */
.checkbox-sunmoon input:checked + span::after {
  content: "";

  background-image:
    radial-gradient(
      circle at 45% 45%,
      #797A7E 55%,
      #5C5963 60%
    );
  
  left: 2px;
  top: 2px;

  /* animation: checkbox-sunmoon-anim 0.5s linear forwards; */
}

/* these classes are used in js to only animate on click */
.checkbox-sunmoon-anim-r span::after {
  animation: checkbox-sunmoon-anim-r 0.5s linear forwards;
}

.checkbox-sunmoon-anim span::after {
  animation: checkbox-sunmoon-anim 0.5s linear forwards;
}

@keyframes checkbox-sunmoon-anim {
  0% {
    left: unset;
    right: 2px;
  }

  50% {
    left: unset;
    right: 2px;
    width: calc(var(--height) * 1.5);
  }

  51% {
    right: unset;
    left: calc((var(--height) * 1.5) - var(--height) - 2px);
  }

  100% {
    right: unset;
    left: 2px;
  }
}

@keyframes checkbox-sunmoon-anim-r {
  0% {
    left: 2px;
  }

  50% {
    left: 2px;
    width: calc(var(--height) * 1.5);
  }

  100% {
    left: var(--right);
  }
}

.checkbox-sunmoon #nojs {
  width: calc(var(--width) + 4px);
  height: calc(var(--height) + 4px);

  background-image: var(--theme-nojs-sunmoon);
  
  box-sizing: border-box;
  border-radius: 0px;

  box-shadow:
    4.5px 4.5px 3px #14151644,
    -1px -0.5px 1px #EBEEF0A9;

  position: relative;
  left: -2px;
  top: -2px;
  
  z-index: 5;
}

.checkbox-sunmoon #nojs::before {
  content: "JS";

  font-weight: 500;
  line-height: 0px;
  letter-spacing: 1px;
  color: #FFFFFFFF;

  position: absolute;
  right: -10px;
  bottom: -1px;
}

.checkbox-sunmoon #nojs::after {
  content: "⊘";

  font-size: 56px;
  font-weight: 100;
  line-height: 0px;
  color: #FF0000AA;

  position: absolute;
  right: -23px;
  bottom: 2px;
}
/* ... */


/* TOP INFO */
.top-info {
  /* info text at top of section describing its purpose
  and how to use it */

  width: 80%;

  margin: 0px auto 16px;

  text-indent: 24px;
  hyphens: auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.top-info hr {
  width: 100%;
  height: 3px;

  margin: 16px 0px;
  padding: 0px;

  background-image:
    linear-gradient(
      var(--theme-color),
      transparent
    );
  

  mask-image:
    linear-gradient(
      90deg,
      transparent,
    white,
      transparent
    );

  border: none;
}
