<!-- relative paths of resource folders  -->
{{ $contentloc := "conq/" }}
{{ $shelfloc   := "conq/shelf/" }}

<!-- get a list of all content files in conq folder  -->
{{ $md := $.Page.Resources.Match (
  printf "%s" "*-cnt.md" |
  printf "%s%s" $contentloc |
  printf "%s"
) }}

<!-- loop over content files and create a collection of maps
that hold platform specific sizing information (and sort order) -->
{{ $pages := slice }}
{{ range $md}}
  <!-- create suitable defaults -->
  {{ $_sort := "" }}

  {{ $_left   := -36 }}
  {{ $_width  :=  38 }}

  {{ $_height := 130 }}
  {{ $_bottom :=  -5 }}
  {{ $_extend :=  10 }}

  <!-- modify values based on platform -->
  {{ if eq .Params.platform "N64" }}
    <!-- N64 (wdth: 74, lft: 40)-->
    {{ $_sort = "00" }}

    {{ $_left = -25 }}
    {{ $_width = (math.Add 74 $_left) }}

    {{ $_extend = 24 }}
  {{ else if eq .Params.platform "SNES" }}
    <!-- SNES (wdth: 67, lft: 39)-->
    {{ $_sort = "10" }}

    {{ $_left = -24 }}
    {{ $_width = (math.Add 67 $_left) }}

    {{ $_extend = 20 }}
  {{ else if eq .Params.platform "Dreamcast" }}
    <!-- Dreamcast (wdth: 44, lft: 27)-->
    {{ $_sort = "20" }}

    {{ $_left = -12 }}
    {{ $_width = (math.Add 44 $_left) }}

    {{ $_extend = 10 }}
  {{ else if eq .Params.platform "GBA" }}
    <!-- GBA  (wdth: 44, lft: 24)-->
    {{ $_sort = "30" }}

    {{ $_left = -9 }}
    {{ $_width = (math.Add 44 $_left) }}
    
    {{ $_extend = 10 }}
  {{ end }}

  <!-- create final map linking page to values -->
  {{ $pages = $pages | append (dict 
    "page" .
    
    "platform" (
      printf "%s" .Params.platform |
      printf "%s%s" $_sort |
      printf "%s"
    )
    
    "width" $_width
    "height" $_height
    "bottom" $_bottom
    "left" $_left
    "extend" $_extend
  ) }}
{{ end }}

<div class="top-info" style="margin: 32px auto 0px;">
  <div>
    This is my shelf — <em>the Shelf of Conquest</em> — where I keep all of
    the games I've beat. You can mouse over them for a closer look, or tap
    them if you're on mobile.
  </div>
</div>

<div class="shelf">
  <div class="shelf-left">
    <!--  -->
  </div>

  <div class="shelf-top">
    <!--  -->
  </div>

  <div id="shelf-c" class="shelf-contents">
    <!-- for all conquered games (*-cnt.md) -->
    {{ range (sort $pages "platform" "asc") }}
      <!-- set shelf image to platform default initially
      (if i haven't made the actual one yet (sorry)) and
      then attempt to load game's image and update if it
      exists -->

      <!-- closed image -->
      {{ $closedurl := ($.Page.Resources.GetMatch (
        printf "%s" "-c.png" |
        printf "%s%s" .page.Params.region |
        printf "%s%s" (lower .page.Params.platform) |
        printf "%s%s" "default/" |
        printf "%s%s" $shelfloc |
        printf "%s"
      )).RelPermalink }}

      {{ $closed := $.Page.Resources.GetMatch (
        printf "%s" "-c.png" |
        printf "%s%s" .page.Params.id |
        printf "%s%s" $shelfloc |
        printf "%s"
      ) }}

      {{ if $closed }}
        {{ $closedurl = $closed.RelPermalink }}
      {{ end }}

      <!-- open image -->
      {{ $openurl := ($.Page.Resources.GetMatch (
        printf "%s" "-o.png" |
        printf "%s%s" .page.Params.region |
        printf "%s%s" (lower .page.Params.platform) |
        printf "%s%s" "default/" |
        printf "%s%s" $shelfloc |
        printf "%s"
      )).RelPermalink }}

      {{ $open := $.Page.Resources.GetMatch (
        printf "%s" "-o.png" |
        printf "%s%s" .page.Params.id |
        printf "%s%s" $shelfloc |
        printf "%s"
      ) }}

      {{ if $open }}
        {{ $openurl = $open.RelPermalink }}
      {{ end }}

      <div class="shelf-item lazyload" alt="{{ .page.Params.name }} Shelf Item"
      title="{{ .page.Params.name }}"
      style="--lazybg: url('{{ $closedurl }}');
      --lazybg-o: url('{{ $openurl }}');
      --lazycol: #4D5A6860; --width: {{ .width }}px;
      --height: {{ .height }}px; --bottom: {{ .bottom }}px;
      --left: {{ .left }}px; --extend: {{ .extend }}px;">
        <div class="item-tabber" style="--width: {{ .width }}px;
        --height: {{ .height }}px;" tabindex="0">
          <!--  -->
        </div>
      </div>
    {{ end }}
  </div>

  <div class="shelf-bottom">
    <!--  -->
  </div>

  <div class="shelf-right">
    <!--  -->
  </div>

  <div class="shelf-base">
    <!--  -->
  </div>
</div>
