<!-- a nice shiny button -->

{{ $url := .Get "url" | default "" }}
{{ $target := .Get "target" | default "_blank" }}

{{ $bgcolor := .Get "bgcolor" | default "#393939" }}
{{ $color := .Get "color" | default "#EEDDCC" }}
{{ $glowcolors := .Get "glowcolors" | default "red, lime, cyan, red" }}

{{ $width := .Get "width" | default "auto" }}
{{ $height := .Get "height" | default "auto" }}

<a href="{{ $url | safeURL }}" target={{ $target }}
  class="button-glow" style="--bgcolor: {{ $bgcolor }};
  --color: {{ $color }}; --glowcolors: {{ $glowcolors }};
  --width: {{ $width }}; --height: {{ $height }};">
  <div>{{ .Inner }}</div>
</a>
