<!-- a nice shiny button -->

{{ $url := .Get "url" | default "" }}

{{ $bgcolor := .Get "bgcolor" | default "#393939" }}
{{ $color := .Get "color" | default "#EEDDCC" }}
{{ $glowcolors := .Get "glowcolors" | default "red, lime, cyan, red" }}

{{ $width := .Get "width" | default "auto" }}
{{ $height := .Get "height" | default "auto" }}

<a href="{{ $url | safeURL }}" draggable="false">
  <button class="button-glow" style="--bgcolor: {{ $bgcolor }};
  --color: {{ $color }}; --glowcolors: {{ $glowcolors }};
  --width: {{ $width }}; --height: {{ $height }};">
    <span>{{ .Inner }}</span>
  </button>
</a>
