html {
	min-height: 360px;
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
}

hr {
  color: rgb(79, 124, 73);
}

#Wrapper {
  position: relative;
	height: 100%;
	margin: 0px auto;
  padding: 4px;
	
	box-sizing: border-box;  
}

#Header {
  min-height: 46px;

  background: rgb(79, 124, 73);
  
  font-size: 36px;
  color: rgb(255, 254, 245);
  text-align: center;

  padding: 4px 8px;
}

#SubHeader {
  background: rgb(79, 124, 73);
  
  color: rgb(255, 254, 245);
  text-align: justify;

  padding: 4px 8px;
}


.LinesEntry {
  background: rgb(211, 226, 202);

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;

  margin-bottom: 4px;
}

.LinesSide {
  grid-column: 1;
  grid-row: 1 / span 2;

  background-color: rgb(255, 254, 245);
  margin: 2px;
}

.LinesNumbersGrid {
  display: grid;

  grid-template-columns: repeat(3, 38px);
  grid-template-rows: repeat(3, 38px);
  grid-gap: 4px;

  font-size: 25px;

  grid-column: 2;
  grid-row: 1;

  margin: 2px;
  justify-content: center;
}

.LinesNumbers {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(255, 254, 245);
  border: 1px solid rgb(79, 124, 73);
  border-radius: 50%;
}

.LinesButton {
  grid-column: 2;
  grid-row: 2;

  margin: 2px;
}


.DrawsEntry {
  background: rgb(211, 226, 202);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;

  padding-bottom: 2px;
  margin-bottom: 4px;
}

.DrawsNumbersRow {
  display: flex;

  font-size: 25px;
  justify-content: space-evenly;

  grid-column: 1 / span 3;
  grid-row: 1;

  margin-top: 4px;
}

.DrawsNumbers {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(79, 124, 73);
  border-radius: 50%;

  width: 38px;
  height: 38px;
}

.DrawsButton {
  grid-column: 2;
  grid-row: 2;
}


.Controls {
  display: flex;
  flex-direction: row;
}

#tAddLine {
  flex: 1;
}

#bAddLine {
  width: 96px;
  margin-left: 4px;
}

#tAddDraw {
  flex: 1;
}

#bAddDraw {
  width: 96px;
  margin-left: 4px;
}


#Returns {
  min-height: 96px;

  background: rgb(79, 124, 73);
  text-align: center;
  
  padding: 0px 4px 6px;
}

#ReturnsTotal {
  font-size: 28px;
  color: rgb(255, 254, 245);

  margin: 0px 0px 8px;
}

.ReturnsBreakdown {
  font-size: 18px;
  color: rgb(255, 254, 245);
  
  margin: 0px;
}

@media only screen and (max-width: 799px) {
#Wrapper {
  width: 100%;
}
}

@media only screen and (min-width: 800px) {
#Wrapper {
  width: 800px;
}
}
